<footer class="footer footer-default">
  <div class="container">
      <nav>
          <ul>
              <li>
                  <a class="nav-link" [routerLink]="['/contact']">
                      Contact Me
                  </a>
              </li>
              <li>
                  <a class="nav-link" [routerLink]="['/index']">
                      Home
                  </a>
              </li>
              
              
          </ul>
      </nav>
      <div class="copyright">
          &copy;
          Designed & Maintained by
          <a href="https://narravivek.github.io/vivekreddynarra.github.io/" target="_blank">N Vivek Reddy</a>
      </div>
  </div>
</footer>