<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/banner/banner_new_01-768x480.jpg') ;">
      </div>
      <div class="container">
          <div class="content-center">
              <div class="photo-container">
                  <img src="assets/profile-pic/siddharth_nagarajan_solo_37.jpg" alt="">
              </div>
              <h3 class="title">Siddharth Nagarajan</h3>
              <p class="category">Drummer &#9828;  Percussionist &#9828; Rhythm Programmer</p>
          </div>
      </div>
  </div>
  <div class="section">
      <div class="container">
        <div class="button-container">
            <a href="https://www.facebook.com/drumssiddharth/" class="btn btn-primary btn-round btn-lg">Follow</a>
            <a href="https://twitter.com/drumssiddharth" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/drumssiddharth/" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
              <i class="fab fa-instagram"></i>
            </a>
        </div>
        <h3 class="title">Contact Me</h3>  
        <div class="row">
          <div class="col-md-6 center-align-items">
            <a href="mailto:contact@drumsiddharth.com"> 
              <img src="assets/img/logo/2x/letter@2x.png" alt="Email">
            </a>
            <h4>contact@drumsiddharth.com</h4>
          </div>
          <div class="col-md-6 center-align-items">
            <a href="tel:+919444167353"> 
              <img src="assets/img/logo/1.5x/phone-call@1.5x.png" alt="Email">
            </a>
            <h4>Click or Call @ +919444167353</h4>
          </div>
          <div class="col-md-12 center-align-items whatsapp-wrapper">
            <a href="https://wa.me/919444167353?text=I'm%20interested%20to%20book%20a%20session%20or%20Collaboration"> 
              <img src="assets/img/logo/whatsapp-small.png" alt="Whatsapp">
            </a>
          </div>
        </div>
      </div>
  </div>
</div> 