<div class="wrapper" style="background: linear-gradient(180deg, black, transparent);">

  <div id="carousel" >
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <ngb-carousel style="margin-top: 120px;">
              <ng-template ngbSlide>
                <img class="d-block" src="assets/img/banner/drums_siddharth_silder_09-1280x800.jpg" alt="Third slide">
                <div class="carousel-caption d-md-block">
                    <h5></h5>
                </div>
              </ng-template>
                <ng-template ngbSlide>
                  <img class="d-block" src="assets/img/banner/drums_siddharth_silder_06-1280x800.jpg" alt="First slide">
                  <div class="carousel-caption d-md-block">
                      <h5>HONORARY DOCTORATE</h5>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="d-block" src="assets/img/banner/drums_siddharth_silder_05-1280x800.jpg" alt="Second slide">
                  <div class="carousel-caption d-md-block">
                      <h5>LIMCA & INDIA BOOK OF RECORDS</h5>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="d-block" src="assets/img/banner/drums_siddharth_silder_07-1280x800.jpg" alt="Third slide">
                  <div class="carousel-caption d-md-block">
                      <h5>GUINNESS WORLD RECORD</h5>
                  </div>
                </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
  </div>

  <div>
    <div class="container">
      <div>
  
        <div class="col-sm-12" style="text-align: center;">
            <h1 style="margin-top: 60px;color: floralwhite;">Siddharth Nagarajan
              <br>
              <p class="category" style="font-size: 0.9rem;margin-top: 10px;">Drummer &#9828;  Percussionist &#9828; Rhythm Programmer</p>
            </h1>
        </div>
  
        <div class="col-sm-12" style="text-align: center;">
          <img src="assets/profile-pic/siddharth_nagarajan_solo_37-150x150.jpg" alt="Thumbnail Image" class="rounded-circle img-raised">
        </div>

        <div style="margin-top: 55px;">
          <div class="row">
            <div class="col-md-10 ml-auto col-xl-10 mr-auto">
              <!-- Tabs with Background on Card -->
              <div class="card">
                <div class="nav-tabs-navigation" data-tabs-color="orange">
                    <div class="nav-tabs-wrapper">
                        <ngb-tabset [justify]="'center'" class="text-center">
                            <ngb-tab title="Introduction">
                              <ng-template ngbTabContent>
                                <div style="padding: 20px;">
                                  <p>Siddharth Nagarajan, born in 1997 on the 25th of September to drummer, 
                                    percussionist and cine rhythm programmer Nagi and singer Vidya, has been mesmerising 
                                    the audience around the world since the year 2000. Believe it or not, his first public 
                                    performance was on 16th April 2000, when he was barely 2 years old – the performance that 
                                    gave him a placement in the LIMCA BOOK OF RECORDS as the YOUNGEST DRUMMER OF INDIA.
                                  </p>
                                  <p>Siddharth has always been amidst music, hailing from a family of musicians. His grandfather, 
                                    Shri.G.Narayanan was a tabla player who worked with the legendary film music director, 
                                    Shri.K.V.Mahadevan for more than 45 years. His father, Nagi is a leading rhythm programmer and 
                                    percussionist in the South Indian Film Fraternity. His mother, Vidya Nagi, is a classically trained 
                                    singer (both Carnatic and Hindustani) and his sister, Dhanashree is also a singer. Siddharth is the 
                                    3rd generation percussionist in this family.</p>
                                </div>
                              </ng-template>
                            </ngb-tab>
                            <ngb-tab title="About Siddharth">
                              <ng-template ngbTabContent>
                                <div style="padding: 20px;">
                                  <p>Siddharth is presently studying B.Sc (Visual Communication) at SRM, Ramapuram.</p>
                                  <p>Siddharth is a born musician. “He responded to music as soon as he was born. When music was 
                                    customarily played in the labour room, he just stopped crying and began crying when the music 
                                    stopped,” says his mother, Vidya proudly.
                                  </p>
                                  <p>He continued to display his craving for rhythm as he grew. It is therefore no wonder that National 
                                    Geographic Channel identified him as one of the ‘7 Geniuses of the World (Inborn category)’ and 
                                    telecast it in their prestigious show ‘My Brilliant Brain’ on 10th Dec’07. This prodigy, besides 
                                    being a gadget freak, also loves photography and playing football and volleyball. 
                                    Siddu, as he is fondly called at home is a multi-record holder.
                                  </p>
                                </div>
                              </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Initiation, Training & Practice">
                              <ng-template ngbTabContent>
                                  <div style="padding: 20px;">
                                    <p>Siddharth’s initiation was done by none other than the world famous percussionist Shri.Sivamani in Mumbai 
                                      on 1st September 2000. Irony is that his initiation was after his first performance! He then went on to learn 
                                      from Mr.Gopal in Chennai and he also paid regular visits to Malaysia to learn from Mr.Lewis Pragasam and Mr.Robert.
                                    </p>
                                    <p>He idolises Mike Portnoy and dreams of performing with him some day. He is an ardent admirer of Eric Singer, Jamie Borden, 
                                      Steve Smith and Neil Peart. For the Indian mathematics of rhythm, he is lucky to be under the guidance of the family of 
                                      Ghatam maestro Shri. Vikku Vinayakaram.
                                    </p>
                                    <p>
                                      With so many years of musical experience and a perfect musical ambience around him, it is no wonder that Siddu is a 
                                      self-evolved composer as well. He has also developed a unique style of footwork on his drumming on which he wishes to 
                                      focus and specialise. During his free time, one can mostly find him composing and churning out a lot of syncopation 
                                      music or tunes on his keyboard/guitar in his studio in Chennai if he is not drumming.
                                    </p>
                                    <blockquote>
                                      <p class="blockquote blockquote-primary">
                                        He composed the Hanuman Chalisa in 2006 when he was just 9, which was released by Symphony Audio.
                                      </p>
                                    </blockquote>
                                    <blockquote>
                                      <p class="blockquote blockquote-primary">
                                        He conceptualised a drum based show in 2006 called “Drumfeast” released by Moserbaer as a DVD.
                                      </p>
                                    </blockquote>
                                    <blockquote>
                                      <p class="blockquote blockquote-primary">
                                        Presently, he is into composing music in different genres – Indian,Rock, Jazz,Folk, etc. which he 
                                        hopes to bring out as an album soon.
                                      </p>
                                    </blockquote>
                                  </div>
                              </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Records">
                                <ng-template ngbTabContent>
                                  <div style="padding: 20px;">
                                    <blockquote>
                                      <p class="blockquote blockquote-primary">
                                        Guinness Book of World Records – The Most Drumbeats in a Minute Using Drumsticks (2109 beats)
                                      </p>
                                    </blockquote>
                                    <blockquote>
                                      <p class="blockquote blockquote-primary">
                                        Limca & India Book of Records – India’s Youngest Drummer
                                      </p>
                                    </blockquote>
                                    <blockquote>
                                      <p class="blockquote blockquote-primary">
                                        Limca & India Book of Records – India’s Youngest Musician to Record for a Film
                                      </p>
                                    </blockquote>
                                    <blockquote>
                                      <p class="blockquote blockquote-primary">
                                        Asia Book of Records – Asia’s Fastest Drummer [Most number of freestyle drumbeats (1906 beats) in a minute]
                                      </p>
                                    </blockquote>
                                    <blockquote>
                                      <p class="blockquote blockquote-primary">
                                        Maximum Kickbeats in a Minute – Played 803 beats in a minute on the bass drum using only his feet
                                      </p>
                                    </blockquote>
                                  </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Awards & Titles">
                              <ng-template ngbTabContent>
                                <div style="padding: 20px;">
                                  <ul style="list-style-type: none;">
                                    <li>Guinness World Record for fast drumming</li>
                                    <li>Honorary Doctorate for fastest drumming</li>
                                    <li>Youngest Drummer Of India</li>
                                    <li>Youngest musician to record music for a film</li>
                                    <li>Balashree’09 (The highest honour for children in India presented by the President)</li>
                                    <li>Balaratna’08 (Received from the late Chief Minister of Andhra Pradesh, Dr.Y.S. Rajasekhar Reddy)</li>
                                    <li>Bala Kala Ratna (Received from the Ex-Governor of Andhra Pradesh, Shri N.D.Tiwari)</li>
                                    <li>Balamani (Bharat Vikas Parishad)</li>
                                    <li>Prince Of Rhythm</li>
                                    <li>Pogo Amazing Kid Award’05</li>
                                    <li>Bharatiya Gaurav, Delhi</li>
                                    <li>Ugadi Puraskar’03</li>
                                    <li>Isai Mamurasu</li>
                                    <li>Global Education Young Achiever’09 (1st Runner-Up)</li>
                                    <li>Horlicks Wizkid 1st Place</li>
                                    <li>Percussion Prodigy’05 – Rotary Club</li>
                                    <li>Young Achiever’05 – Rotary Club</li>
                                    <li>Wisdom International Child Prodigy Award’04</li>
                                    <li>Example For Youth’04 – Rotaract Club</li>
                                    <li>Young Achiever’04 – Lion’s Club</li>
                                    <li>Most Promising Young Musician’04 – International Women’s Association</li>
                                  </ul>
                                </div>
                              </ng-template>
                          </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
              </div>
              <!-- End Tabs on plain Card -->
            </div>
          </div>
        </div>
        
  
      </div>
    
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row">

        <div class="col-sm-12">
          <div class="separator separator-primary"></div>
        </div>

        <div class="col-sm-6" style="text-align: center; align-self: center">
          <h3><a href="https://www.instagram.com/drumssiddharth/" style="color: black;">@instagram</a></h3>
        </div>

        <div class="col-sm-6">
          <div class="row justify-content-center">
            <div class="col-10">
              <ngb-carousel>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img/social-media/insta_1.jpeg" alt="First slide">
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img/social-media/insta_2.jpeg" alt="Second slide">
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img/social-media/insta_3.jpeg" alt="Third slide">
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img/social-media/insta_4.jpeg" alt="Third slide">
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img/social-media/insta_5.jpeg" alt="Third slide">
                  </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="separator separator-primary"></div>
        </div>
        

        <div class="col-sm-6">
          <div class="row justify-content-center">
            <div class="col-10">
              <ngb-carousel>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img/social-media/insta_6.jpeg" alt="First slide">
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img/social-media/insta_7.jpeg" alt="Second slide">
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img/social-media/insta_8.jpeg" alt="Third slide">
                  </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>

        <div class="col-sm-6" style="text-align: center; align-self: center">
          <h3><a href="https://www.facebook.com/drumssiddharth/" style="color: black;">@facebook</a></h3>
        </div>

        <div class="col-sm-12">
          <div class="separator separator-primary"></div>
        </div>

      </div>
    </div>
  </div>
  
</div>

